<footer>
  <div class="footer-content">
    <div class="footer-content__flex">
      <div class="footer-content__flex__navbox1">
        <p><a href="#"></a>Why Novogradnja</p>
        <p><a href="#"></a>Pricing</p>
        <p><a href="#"></a>Contact us</p>
      </div>
      <div class="footer-content__flex__navbox2">
        <p><a href="#"></a>Blog</p>
        <p><a href="#"></a>FAQ</p>
      </div>
      <div class="footer-content__flex__locationbox">
        <p>Montenegro Novogradnja</p>
        <div class="footer-content__flex__locationbox__location">
          <img src="../static/icons/pin.svg" alt="pin" />
          <p>Njegoseva 10, Tivat</p>
        </div>
        <p>Mon - Fri: 10:00 - 18:00</p>
        <p>Sat 10:00 - 16:00</p>
      </div>
      <div class="footer-content__flex__advertise">
        <p>Have a property that you would like to advertise?</p>
        <button>List your property</button>
      </div>
    </div>
    <div class="footer-content__social">
      <button class="footer-content__social__fb"></button>
      <button class="footer-content__social__ig"></button>
      <button class="footer-content__social__tw"></button>
      <button class="footer-content__social__in"></button>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom__left-side">
      <p>Privacy Policy</p>
      <p>General Terms and Conditions</p>
    </div>
    <div class="footer-bottom__right-side">
      <p>All right reserved Novogradnja</p>
    </div>
  </div>
</footer>
