<div class="header__navigation">
  <img
    src="static/icons/logo.svg"
    alt="logo"
    class="header__navigation__logo"
  />
  <nav id="navlist">
    <ul>
      <li><a href="">Why Novogradnja</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">Blog</a></li>
    </ul>
  </nav>
</div>
<button>List your property</button>

<div class="header__right-action">
  <a class="header__right-action__login" href="">
    <span> Log in</span> <img src="static/icons/login.svg" alt="login" />
  </a>
  <div class="header__right-action__wishlist">
    <img src="static/icons/heart.svg" alt="heart" />
    <span>13</span>
  </div>
  <img
    class="header__right-action__user"
    src="static/icons/user.svg"
    alt="user"
  />
  <div class="header__right-action__lng">
    <img src="static/icons/united-kingdom.svg" alt="united-kingdom" />
    <img src="static/icons/arrow.svg" alt="arrow" />
  </div>
  <div class="header__right-action__menu" onclick="toggleMenu()">
    <img src="static/icons/menu.svg" alt="menu" />
  </div>
</div>
